*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Oxygen', sans-serif;
}

 /* header section css start */
.navbar{
    background: rgb(76, 73, 73);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

}


.nav-logo h1{
    font-size: 33px;
    color: azure;
    cursor: pointer;
    transition: 0.8s;
}

.nav-logo h1:hover{
    color: tomato;
}

.nav-logo h1 span{
    font-size: 34px;
    color: tomato;
    transition: 0.8s;
}

.nav-logo h1 span:hover{
    color: tomato;
}


.nav-item ul{
    display: flex;
    justify-content: space-between;
}

.nav-item ul li{
    list-style-type: none;
    padding: 0 10px;
}

.nav-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: azure;
    cursor: pointer;
    transition: 0.8s;
}

.nav-item ul li a:hover{
    color: tomato;
}

/* header section css end */




/* Banner section css start */

  .banner{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    /* border: 2px solid tomato; */
    align-items: center;
    background-image: url("../images/background.png"), linear-gradient(45deg, rgb(8,8,8), rgb(53,53,53));
  }


  .banner-text .title{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .banner-text .description{
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 0;
    color: #ffffff;
  }

  .banner-text .btn{
    margin-top: 15px;
    padding: 15px 25px;
    background-color: tomato;
    color: #ffffff;
    border: none;
    border-radius: 0 8px 0 8px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.8s;
    cursor: pointer;
  }

  .banner-text button:hover{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid tomato;
  }
 
  .banner-img{
    width: 400px;
  }
 
/* Banner section css end */